<div class="wrapper row">
  <div class="col-sm-6 header">
    <weather-header-search></weather-header-search>
  </div>
  <div class="current-location">
    <weather-current-location></weather-current-location>
  </div>
  <div class="col-sm-6">
    <div class="row weather">
      <div class="weather-navigation col-sm-12">
        <weather-sidebar></weather-sidebar>
      </div>
      <div class="weather-content col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
