<h1>Weather in Your location</h1>
<div class="location" *ngIf="weather.name">
  <div class="location__name">
    <span class="line-title">Location name:</span> {{weather.name}}, {{weather.sys.country}}
  </div>
  <div class="location__temp">
    <span class="line-title">Temperature:</span> {{weather.main.temp}} &ordm;C
  </div>
  <div class="location__humidity">
    <span class="line-title">Humidity:</span> {{weather.main.humidity + ' %'}}
  </div>
  <div class="location__pressure">
    <span class="line-title">Pressure:</span> {{weather.main.pressure | pressureTransform}} <span>mmHg</span>
  </div>
  <div class="location__wind-speed">
    <span class="line-title">Wind Speed:</span> {{weather.wind.speed}} <span>meter/sec</span>
  </div>
  <div class="location__wind-direction">
    <span class="line-title">Wind Direction:</span> {{weather.wind.deg | windLine}}
  </div>
  <div class="location__sky">
    <span class="line-title">Sky:</span> {{weather.weather[0].description}}
    <img class="sky-image" src="{{skyImage}}" alt="">
  </div>
  <div class="location__sunrise">
    <span class="line-title">Sunrise Time:</span> {{sunrise * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
  </div>
  <div class="location__sunset">
    <span class="line-title">Sunset Time:</span> {{sunset * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
  </div>
  <div class="location__update">
    <span class="line-title">Last Update:</span> {{weather.dt * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
  </div>
</div>
